.wrapper {
  width: 100%;
}

.list {
  width: 100%;
  height: calc(99vh - 520px);
  overflow: auto; /* Добавляем прокрутку */
  scrollbar-width: auto; /* Ширина полосы прокрутки (thin, auto, none) */
}

.title {
  font-family: Poppins;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: var(--color-icons-no-active);
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .list {
    height: calc(99vh - 564px);
  }
}
